/* Google fonts (for now)*/
@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');

/* Asterisk wildcard selector to override default styles by browser like in the love running video recommanded */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Generic styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic styles*/
    color: #2f5141;
    font-family: 'Borel', sans-serif;
}

h1 {
    font-family: 'Borel', sans-serif;
}

/* Header */
header {
    background-color: #ccff66
}

/* navigation links */

#menu {
    font-size: 110;
    letter-spacing: 4px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

/* Main content */
main {
    background-color: rgb(182, 230, 173);
    /* Make main element take up any surplus space to push fotter down */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: #ccff66
}