/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=REM:wght@300&display=swap');

/* Asterisk wildcard selector */
* {
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
    color: #355E3B;
}

/* Generic styles - source: Love running */
body {
    font-family: 'Rem', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}


/* Header - source: Love running */
header {
    display: flex;
    padding: 4px;
    background-color: #ccff66;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    overflow: hidden;

}

/* Text decoration none */
header a {
    text-decoration: none;
}


h1 {
    font-family: 'Borel', sans-serif;
    font-size: xxx-large;

}

#home-text {
    margin: 2px;
}

/* navigation links */
#nav {
    font-size: 130%;
    margin-top: 30px;
    font-family: 'Borel', sans-serif;
}

#nav li {
    list-style-type: none;
    margin-right: 30px;
    display: inline-block;
}

/* Active function for nav bar */

a:hover {
    text-decoration: underline;
}

/* Main content */
main {
    background-color: #CCFF99;
    /* Make main element take up any surplus space to push fotter down from the Love Running project */
    flex: 1 0 auto;
    padding-top: 1px;
}

/* Hero image*/
#hero-image {
    height: 650px;
    width: 100%;
    background: url(../images/cosmic-timetraveler-pYyOZ8q7AII-unsplash.jpg) no-repeat center center;
    margin-bottom: 15px;
    margin-top: 70px;
}

/* Place text on hero image from the Love Running project */
#hero-content,
#hero-content h2 {
    color: #fff;
    text-align: center;
    margin: 10 10 10;
}

#hero-content {
    font-size: 130%;
    font-weight: bolder;
    font-family: 'Rem', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    max-width: 300px;
    min-height: 200px;
    padding-top: 280px;
    padding-left: 50px;

    background-color: rgba(232, 39, 245, 0.8, );


}


/* Hearder styling for Home and Magic Walk screen*/
#title {
    text-align: center;
    padding-top: 10px;
    margin-top: 120px;
}

/* Magic Walks */
#container {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.walks-header {
    font-family: 'Borel', sans-serif;
    padding-top: 3px;
}

.walks-texts {
    padding: 0px 0px 0px 10px;
}

.bottom-spacing {
    margin-bottom: 20px;
}

.container-video {
    width: 160px;
    height: 90px;
}

/* Contact Us */
/* https: //www.quackit.com/html/html_editors/scratchpad/?example=/css/flexbox/examples/flexbox_form_example_3 */
.contact-box {
    display: flex;
    background-color: #ccff66;
    padding: 1.6em;
    border-radius: 10px;
    border: solid 3px #355E3B;
    width: 650px;
    height: 400px;
    margin: 10px 410px 10px;
    margin-top: 125px;
}

.message {
    margin-right: 2em;
    display: flex;
    flex-direction: column;
}

.message>textarea {
    flex: 1;
    min-width: 18em;
}

.contact-label {
    flex: 1;
}

.contact-label input {
    width: 100%;
}

.contact-label input,
.contact-label button {
    padding: 1em;
    margin-bottom: 1em;
}

.contact-label button {
    background: #9900cc;
    color: #fff;
    border: 0;
}

#contact-form-image {
    background-image: url(../images/cosmic-timetraveler-pYyOZ8q7AII-unsplash.jpg);
    background-size: cover;
}

/* https: //stackoverflow.com/questions/41838344/positioning-images-in-a-row-with-flexbox */
.contact-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.contact-images>div {
    width: 25%;
    padding: 0 10px 10px 0;
    box-sizing: border-box;
}

.contact-images>div img {
    width: 100%;
}

/* Thank you message */
#thank-you-message {
    font-family: 'Rem', sans-serif;
    margin-top: 100px;
    font-size: larger;
}


/* Footer */

.footer {
    background-color: #ccff66;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#copyright {
    float: left;
    font-size: small;
    font-family: 'Borel', sans-serif;
}

.social {
    text-align: right;
}

.social>li {
    list-style-type: none;
    margin-right: 30px;
    display: inline-block;
}

/* Media queries*/
/* Web Dev Simplified
https://www.youtube.com/watch?v=yU7jJ3NbPdA*/

@media(max-width:1280px) {
    .container {
        width: 100%;

    }

}