/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=REM:wght@300&display=swap');

/* Asterisk wildcard selector to override default styles by browser like in the love running video recommanded */
* {
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
    color: #355E3B;
}

/* Generic styles update the body as its from Love running */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Rem', sans-serif;
    text-align: center;
}


/* Header update the header as its from Love running */
header {
    display: flex;
    padding: 4px;
    background-color: #ccff66;
    width: 100%;
    justify-content: space-between;

}

/* Text decoration none */
header a {
    text-decoration: none;
}


h1 {
    font-family: 'Borel', sans-serif;
    font-size: xxx-large;

}

#home-text {
    margin: 2px;
}

/* navigation links */
#nav {
    font-size: 130%;
    margin-top: 30px;
    font-family: 'Borel', sans-serif;

}

#nav li {
    list-style-type: none;
    margin-right: 30px;
    display: inline-block;

}

/* Update active for nav bar */
.active {}

/* Main content */
main {
    background-color: #CCFF99;
    /* Make main element take up any surplus space to push fotter down from the Love Running project */
    flex: 1 0 auto;
    padding-top: 1px;
}

#hero-image {
    height: 650px;
    width: 100%;
    background: url(../images/cosmic-timetraveler-pYyOZ8q7AII-unsplash.jpg) no-repeat center center;
    margin-bottom: 15px;

}

/* Hearder styling for Home and Magic Walk screen*/
#title {
    text-align: center;
    padding-top: 10px;
}

/* Magic Walks */
#container {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.walks-header {
    font-family: 'Borel', sans-serif;
    padding-top: 3px;
}

.walks-texts {
    padding-bottom: 0px 0px 0px 10px;
}

.bottom-spacing {
    margin-bottom: 20px;
}

.container-video {
    width: 160px;
    height: 90px;
}

/* Contact Us */



.contact-box {
    display: flex;
    flex-direction: column;
    margin: 10px 410px 10px;
    border-radius: 50px;
    border: solid 3px #355E3B;
    padding: 15px;
    background-color: #ccff66;
    width: 600px;
    height: 700px;
}



/* https: //stackoverflow.com/questions/41838344/positioning-images-in-a-row-with-flexbox */


.contact-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.contact-images > div {
  width: 25%;
  padding: 0 10px 10px 0;
  box-sizing: border-box;
}

.contact-images > div  img {
  width: 100%;
}




/* Footer */

.footer {
    background-color: #ccff66;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#copyright {
    float: left;
    font-size: small;
    font-family: 'Borel', sans-serif;
}

.social {
    text-align: right;
}

.social>li {
    list-style-type: none;
    margin-right: 30px;
    display: inline-block;
}